@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:wght@200;400;600&display=swap");

:root {
  /* colors */
  --black: rgb(9, 9, 9);
  --white: #ffff;
  --mainBackgroundColor: #fafafa;
  --grey: #dbdbdb;
  --icons: #474747;

  /* fonts */
  --light: 200;
  --regular: 400;
  --bold: 600;
}

/* GLOBAL STYLES */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--mainBackgroundColor);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-icon {
  color: var(--icons);
  font-size: 27px;
}

.nav-icon:hover {
  transform: scale(1.1);
  
}

.background-icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
