@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:wght@200;400;600&display=swap");

:root {
  /* colors */
  --black: rgb(9, 9, 9);
  --white: #ffff;
  --grey: #dbdbdb;
  --grey_transparent: #dbdbdbb4;
  --dark_grey: #8e8e8e;
  --search_input:#EFEFEF;
  --background_transparent: rgba(9, 9, 9, 0.677);
  --mainBackgroundColor: #fafafa;
  --icons: #262626;
  --heart: #ED4956;
  --post_btn: #007bedc8;
  --post_btn_disabled:#007aed92;
  --hover_post: #02396C;
  --alert_success: #1b9b04;

  /* fonts weight */
  --light: 200;
  --regular: 400;
  --bold: 600;

  /* fonts size */
  --fs_small: 13px;
  --fs_regular: 14px;
  --fs_regular_plus: 14.5px;
  --fs_large: 15px;
  --fs_xl:20px;
  --fs_xxl:26px;

}

/* GLOBAL STYLES */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--mainBackgroundColor);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

textarea {
  border: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

hr {
  background-color: var(--dark_grey);
}

.normal-text {
  font-weight: var(--light);
  color: var(--icons);
  font-size: var(--fs_regular);
}

.text-bold {
  font-weight: var(--bold);
  color: var(--icons);
  font-size: var(--fs_small);
}

.name-user {
  margin-right: 10px;
  margin-bottom: 5px;
}

.interaction-icons {
  color: var(--icons);
  font-size: 25px;
}

.interaction-icons:hover {
  color: var(--dark_grey);
}

.interaction-icons.active:hover {
  color: var(--icons);
}


