@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:wght@200;400;600&display=swap");

:root {
  /* colors */
  --black: rgb(9, 9, 9);
  --white: #ffff;
  --grey: #dbdbdb;
  --dark_grey: #8e8e8e;
  --background_transparent: rgba(9, 9, 9, 0.677);
  --mainBackgroundColor: #fafafa;
  --icons: #262626;
  --heart: #ed4956;
  --post_btn: #007bedc8;
  --post_btn_disabled:#007aed92;
  --hover_post: #02396C;

  /* fonts weight */
  --light: 200;
  --regular: 400;
  --bold: 600;

  /* fonts size */
  --fs_small: 13px;
  --fs_regular: 14px;
  --fs_regular_plus: 14.5px;
  --fs_large: 15px;
  --fs_xl:26px;
}

/* GLOBAL STYLES */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--mainBackgroundColor);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

textarea {
  border: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

hr {
  background-color: var(--dark_grey);
}

.normal-text {
  font-weight: var(--light);
  color: var(--icons);
  font-size: var(--fs_regular);
}

.text-bold {
  font-weight: var(--bold);
  color: var(--icons);
  font-size: var(--fs_small);
}

.name-user {
  margin-right: 10px;
  margin-bottom: 5px;
}

.interaction-icons {
  color: var(--icons);
  font-size: 25px;
}

.interaction-icons:hover {
  color: var(--dark_grey);
}

/* SIDEBAR COMPACT */
.logo {
  font-family: "Leckerli One", cursive;
  font-size: 28px;
  color: var(--icons);
  margin-top: 38px;
  margin-bottom: 28px;
  margin-left: 10px;
}

.page-title {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs_regular_plus);
  font-weight: var(--regular);
  color: var(--icons);
  margin-left: 15px;
  padding-bottom: 10px;
  position: relative;
  top: -4px;
}

.nav-icon {
  color: var(--icons);
  font-size: 27px;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.background-icon {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding-left: 10px;
}

.background-icon:hover {
  width: 200px;
  background: var(--mainBackgroundColor);
  border-radius: 100px;
}

@media screen and (max-width: 1220px) {
  .background-icon {
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 0px;
  }
  .background-icon:hover {
    width: 50px;
  }
}
